

.main-grid {

    display: grid;
    gap: 1rem;
    grid-template:
        "aside  main    main    main    main"
        "aside  main    main    main    main"
        "aside  main    main    main    main";
    padding: 1rem;

    & aside {
        grid-area: aside;
    }
    & main {
        grid-area: main;
    }
}

.main-grid__tuile {
    display: grid;
}

/* * {
    border: 2px solid blue !important; 
} */

