@import url("../styles.css");

body{
    background-color: var(--fonce)
}


.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--space-mg);
    padding-right: var(--space-s); 
    padding-top: var(--space-g);

}

.main-grid__tuile {
    background-color: var(--blanc);
    width: fit-content;
    padding: var(--space-s) var(--space-mg) var(--space-mg) var(--space-mg);
    
}

.main-grid__tuile img {
    width: 100%;
    max-width: 100%;
    max-height: 140px;
    object-fit:contain;
}

.main-grid__tuile {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 100%;
}

.main-grid__tuile .btn {
    align-self: flex-end;
    margin: 0 auto;
    margin-top: var(--space-s);

}

.flex-container {
    display: flex;
    align-items: flex-start;
}

h4 {
    text-align: center;
}






/* * {
    border: 2px solid blue !important; 
} */

