@import url("../styles.css");

body{
    background-color: var(--fonce);
}

.main-mission {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: var(--space-xg) ;
    padding-top: var(--space-m) ;

}

main p {
    color: var(--blanc);
    width: 75%;
    margin: 0 auto;
    font-size: var(--police-s);
}

h1 {
    color: var(--dore);
    padding-top: var(--space-g) ;
    padding-bottom: var(--space-g) ;
}

.main-mission__vision--img {
    aspect-ratio: 6/1;



}

.mission__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    object-position: top;
}

h:hover {
    opacity: 80%;
}
