.btn {
    width: fit-content;
    padding: var(--space-s);
    margin-top: var(--space-s);
    background-color: var(--dore);
    color: var(--fonce);
    border-radius: 15px;
    box-shadow: 10px 10px 10px var(--fonce);
    cursor: pointer;

    &:hover {
        background-color: var(--blanc);
    }

    &.inactive {
        background-color: var(--vert-fonce);
        pointer-events: none;
        cursor: none;
    }
}
