.filters {
    min-width: 20%;
}

input[type="checkbox"] {
    accent-color: var(--coul-bouton-fond);
    display: none;

    & ~ label {
        &::selection {
            background-color: rgb(226, 226, 226);
        }
        & .input-group__unchecked {
            display: inline;
        }
        & .input-group__checked {
            display: none;
        }
    }

    &:checked ~ label {
        & .input-group__unchecked {
            display: none;
        }
        & .input-group__checked {
            display: inline;
        }
    }
}
