.icon{
    margin-right: var(--space-xxs);
}

.footer_social-media {
    fill: var(--color-footer);
}

.footer__logo {
    width: 9rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
