

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center ;
    
      }
      
      li {
        color: var(--blanc);
        font-family: var(--police-principale);
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      
      li a {
        display: block;
        gap: var(--space-m);
        text-align: center;
        text-decoration: none;
      }
    