ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;

}

li {
  display: block;
  transition-duration: 0.5s;
  color: var(--blanc);
  font-family: var(--police-principale);
  font-size: 1rem;
  margin-bottom: 1rem;
}

li a {
  display: block;
  gap: var(--space-m);
  text-align: left;
  text-decoration: none;
}

/* drop down menu 
Basic code from: https://css-tricks.com/solved-with-css-dropdown-menus/
*/

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  width: fit-content;
  background-color: var(--dore);
  padding: 1rem;
  border-radius: 1rem;
  justify-content: left;
}

ul li ul li {
  clear: both;
  width: 100%;
}