
nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: blue;
    padding: 4rem;

    & a {
        color:white;
        &:hover {
            color: turquoise;
        }
        &:visited {
            color: teal;
        }
    }

    @media screen and (max-width:768px){
        flex-direction: column;
        align-items: center;
    }
}

