body{
    background-color: var(--fonce)
}

.main-contact{
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.form-form-contact{
    max-width: 40rem;
    background-color: #133636;
    box-shadow: 0px 1px 4px 1px var(--dore);
    padding: 1rem;
    border-radius: 8px;
}

.form-form-contact h2{
    margin: 2rem;
}

.form-form-contact p{
    margin: 2rem;
    color: var(--blanc);
    font-size: var(--police-s)
}

.form-contact {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

label {
    font-family: var(--police-principale);
    margin: var(--space-s);
    color: var(--dore);
    font-size: var(--police-s)
    
}

.form-contact_input {
    display: inline-block;
    padding-left: 10px;
    font-family: var(--police-principale);
    font-size: var( --police-s);
    width: 20rem;
    margin: var(--space-s);   
    border-radius: 1rem;
    height: 2rem;
}

.form-contact_textarea {
    width: 35rem;
    height: 15rem;

    display: inline-block;
    padding-left: 10px;
    font-family: var(--police-principale);
    width: 20rem;
    margin: var(--space-s);   
    border-radius: 1rem;  
}


