
.footer {
    background-color: var(--dore);
    color: var(--vert-fonce);
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-wrap: wrap;
}

.footer_droits-auteur {
    color: var(--blanc);
    font-size: var(--space-s);
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding-bottom: 1rem;
}

.footer_social-media {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    flex-wrap: wrap;
}

.footer__contact {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_left-side {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    flex-wrap: wrap;
    color: var(--blanc);
}
