.header-top{
    background-color: var(--fonce);
    display: flex;
    flex-direction: column;

}

.header-top__superieur {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top_img{
    max-width: 12rem;
}

.header-top_icons{
    display: flex;
    gap: var(--space-m);
}

.icon_img1 {
    color: var(--dore);
}

.barre-recherche {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.barre-recherche__champ {
    background-color: color-mix(in oklab, var(--vert-fonce) 60%, var(--blanc) 40% ) ;
    border-radius: 1rem;
    color: var(--blanc);
    font-size: 1.4rem;
    height: 2rem;
    line-height: 2rem;
    padding: 1rem;
    width: 30rem;
}

