.hero {
    width: 100%;
    height: 100%;
    border: 3px solid tomato;
    position: relative;

    & img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    & > h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8rem;
    
        z-index: 4;
        background-image: url("../../img/photos/sennaf1.png");
        background-size: cover;
        background-clip: text;
        color: transparent;
    }
    & .glass {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.1);
        width: 50%;
        height: 50%;
        z-index: 3;
        backdrop-filter: blur(20px);
        border-radius: 25px;
        border: 2px solid rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);

    }
}
/* 
body {
    position: relative;
    &.no-scroll {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}
.popup__conteneur {
    border: 3px solid yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 666;
    display: flex;
    justify-content: center;
    align-items: center;
} */
