/* Couleurs

#051D1D - foncé
#476568 - vert foncé
#A6775B - danger
#D9BCA3 - claire
#C6A619 - doré
#F2F2F2 - blanc        

*/

:root {
    --fonce: #072323;
    --vert-fonce: #1A393C;
    --danger: #A6775B ;
    --claire: #D9BCA3;
    --dore: #E3C22B;
    --blanc: #F2F2F2;
}

