/* Couleurs

#051D1D - foncé
#476568 - vert foncé
#A6775B - danger
#D9BCA3 - claire
#C6A619 - doré
#F2F2F2 - blanc        

*/

:root {
    --fonce: #051D1D;
    --vert-fonce: #476568;
    --danger: #A6775B ;
    --claire: #D9BCA3;
    --dore: #C6A619;
    --blanc: #F2F2F2;
}

:root {
    --coul-principale: tomato;
    --coul-secondaire: cornflowerblue;
    --coul-secondaire-pale: rgb(181, 202, 243);
    --coul-secondaire-fonce: rgb(63, 82, 118);
    --coul-accent: rgb(220, 220, 38);
    --coul-noir: #17161a;
    --coul-blanc: #3e378e;

    --coul-info: #2196f3;
    --coul-succes: #4caf50;
    --coul-avertissement: #ff9800;
    --coul-danger: #f44336;
    --coul-muted: #6c757d;

    --coul-bouton-fond: var(--coul-principale);
    /* Ajoutez vos couleurs au fur et à mesure */
}
