:root{
    --speace-xxs:4px;
    --speace-xs:8px;
    --speace-x:12px;
    --speace-m:16px;
    --speace-l:20px;
    --speace-xl:24px;
    --speace-xxl:28px;
    --speace-el:32px;
    --speace-eel:36px;
}