<<<<<<< HEAD
@font-face {
    font-family: "Inknut_Antiqua";
    src: 
    url("../../fonts/Inknut_Antiqua/InknutAntiqua-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "Krub";
    src: 
    url("../../fonts/Krub/Krub-Regular.ttf") format("truetype");
}
:root {
    --police-principale: "Krub";
    --police-xxs: 0.694rem;
    --police-xs: 0.833rem;
    --police-s: 1rem;

    --police-secondaire:"Inknut_Antiqua";
}

p {
    font-family: var(--police-principale);
}

h1, h2, h3 {
    font-family: var(--police-secondaire);
}
=======
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500;1,700&display=swap");
@font-face {
    font-family: "CranberryGin";
    src: url("../../fonts/cranberry_gin/Cranberry\ Gin.otf") format("opentype");
}
:root {
    --police-principale: "Roboto", sans-serif;
    --police-secondaire: "CranberryGin", monospace;
    --police-xxs: 0.694rem;
    --police-xs: 0.833rem;
    --police-s: 1rem;
    --police-xxxl: 10rem;
}

body,
html {
    font-family: var(--police-secondaire);
}

h1 {
    font-size: var(--police-s);
    font-weight: 400;
}

.ultra-grand-titre {
    font-size: var(--police-xxxl);
}
>>>>>>> caff1a70e6a04549eef568bc0676cae89cc8a84a
